.accordion-item {
  background: radial-gradient(
      75% 417.79% at 50% 50%,
      rgba(58, 47, 59, 0.5) 0%,
      rgba(23, 22, 42, 0.5) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.szh-accordion__item-btn {
  width: 100%;
  text-align: left;
}
.szh-accordion__item-content {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}
.szh-accordion__item-btn .chevron {
  transform: rotate(180deg);
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}
.szh-accordion__item--expanded {
  .szh-accordion__item-btn .chevron {
    transform: rotate(0);
  }
}
