@import "tailwindcss";

:root {
  --background: #05001f;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sd-black: #070709;
  --color-sd-gray: #303036;
  --font-sans:
    var(--font-inter-tight), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --color-1: #e91e63;
  --color-2: #ffc107;
  --color-3: #4caf50;
  --color-4: #2196f3;
  --color-5: #9c27b0;
  --color-6: #ff5722;
  --color-7: #607d8b;
  --color-8: #e91e63;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #05001f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-inter-tight), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden;
}
