@import "tailwindcss";

:root {
  --background: #05001F;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sd-black: #070709;
  --color-sd-gray: #303036;
  --font-sans: var(--font-inter-tight), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-1: #E91E63;
  --color-2: #FFC107;
  --color-3: #4CAF50;
  --color-4: #2196F3;
  --color-5: #9C27B0;
  --color-6: #FF5722;
  --color-7: #607D8B;
  --color-8: #E91E63;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #05001F;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-tight), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
